item {
  height: 100%;

  display: flex;

  overflow: visible;

  background-color: #111;

  font-size: 0.85em;

  cursor: pointer;

  .end {
    min-height: 3em;
    height: 100%;
    // position: absolute;
    // bottom: 0;

    button {
      height: 100%;

      margin: 0;
      padding: 0 0.5em;

      background: hsla(0, 100%, 30%, 1);
      border: none;
      color: #fff;
      font-weight: bolder;

      cursor: pointer;

      &:hover {
        background: hsla(0, 100%, 50%, 1);
      }
    }
  }

  .item-content {
    height: 100%;
    width: 100%;

    display: flex;

    background-color: #111;

    .times {
      height: 100%;

      display: flex;

      flex: 0 0 auto;

      align-items: stretch;

      white-space: nowrap;

      .background {
        min-height: 3em;
        height: 100%;

        display: flex;
        flex-direction: column;

        justify-content: space-between;

        background-color: hsla(120, 100%, 30%, 1);

        .time {
          background-color: #fff;
          color: #000;
        }

        .duration {
          text-align: center;
        }

        .end-time {
          background-color: #000;
          // color: #000;
        }
      }
    }

    .body {
      display: flex;
      flex-direction: column;

      justify-content: flex-end;

      width: 100%;

      font-size: 1rem;

      text-align: center;

      border: solid 1px rgba(255, 255, 255, 0.05);

      .data {
        background-color: rgba(255, 255, 255, 0.05);
      }
    }
  }

  &:hover {
    // min-height: 3em;

    border: solid 1px #444;

    z-index: 2;

    .item-content {

      background-color: #333;

      .data {
      }
    }
  }
}