item {
  height: 100%;

  display: flex;

  overflow: visible;

  background-color: #111;

  // cursor: pointer;

  .end {
    height: 100%;
    // position: absolute;
    // bottom: 0;

    button {
      height: 100%;

      background: #66d;
      border: none;
      color: #fff;
      font-weight: bolder;

      cursor: pointer;

      &:hover {
        background: #33f;
      }
    }
  }

  .item-content {
    height: 100%;
    width: 100%;

    position: absolute;

    display: flex;

    background-color: #111;

    .times {
      // position: relative;
      height: 100%;

      display: flex;

      flex: 0 0 auto;

      align-items: stretch;

      white-space: nowrap;

      .background {
        position: relative;

        height: 100%;

        display: flex;
        flex-direction: column;

        justify-content: space-between;

        background-color: #f00;

        .time {
          background-color: #fff;
          color: #000;

          cursor: pointer;
        }

        .end-time {
        }
      }
    }

    .data {
      flex: 1 1 auto;
    }
  }

  &:hover {
    border: solid 1px #444;

    z-index: 2;

    .item-content {
      background-color: #333;

      .data {
      }
    }
  }
}