<div class="end"
     ng-if="item.event !== 'marker' && item.duration.endTime === undefined">
  <button ng-click="endItem(item)">End</button>
</div>
<div class="times">
  <div class="background">
    <time-display class="start-time" time="item.event.time"></time-display>
    <span class="duration">+{{getDuration(item) / 1000 | number : options.timeDecimals}}</span>
    <time-display class="end-time" ng-if="item.duration && item.duration.endTime !== undefined" time="item.duration.endTime"></time-display>
  </div>
</div>
<div class="body">
  <div class="data">
    <span class="type">{{item.type}}</span>
    <span class="text">{{item.data.text}}</span>
  </div>
</div>