@height: 5px;
@hoveredHeight: @height * 4;

@dayColor: hsla(195, 600%, 80%, 0.6);
@nightColor: hsla(195, 600%, 30%, 0.6);

@currentDayBackground: hsla(0, 0%, 100%, 0.5);
@dayBackground: hsla(0, 0%, 50%, 0.3);

@currentDayBackground: radial-gradient(circle farthest-corner at 50% 50%, @dayColor 0%, @nightColor 100%);
@dayBackground: radial-gradient(circle farthest-corner at 50% 50%, darken(@dayColor, 40%) 0%, darken(@nightColor, 0%) 100%);


// @currentDayBackground: radial-gradient(circle farthest-corner at 50% 50%, hsl(60, 10%, 90%) 0%, hsl(190, 10%, 50%) 100%);
// @dayBackground: radial-gradient(circle farthest-corner at 50% 50%, darken(hsl(60, 10%, 90%), 40%) 0%, hsl(190, 10%, 50%) 100%);

week {
  position: relative;

  height: @height;

  transition: all 0.25s ease-in-out;

  &:hover {
    height: @hoveredHeight;
  }

  .week {
    display: flex;

    height: 100%;

    .day {
      flex: 1 1 auto;

      margin: 0;
      padding: 0;

      height: 100%;
      width: calc(1 / 7 * 100%);

      // border-right: 1px solid #fff;

      background: @dayBackground;
    }

    &.sunday .sunday {
      background: @currentDayBackground;
    }

    &.monday .monday {
      background: @currentDayBackground;
    }

    &.tuesday .tuesday {
      background: @currentDayBackground;
    }

    &.wednesday .wednesday {
      background: @currentDayBackground;
    }

    &.thursday .thursday {
      background: @currentDayBackground;
    }

    &.friday .friday {
      background: @currentDayBackground;
    }

    &.saturday .saturday {
      background: @currentDayBackground;
    }
  }
}