@height: 5px;
@hoveredHeight: @height * 4;

year {
  position: relative;

  height: @height;

  transition: all 0.25s ease-in-out;

  &:hover {
    height: @hoveredHeight;
  }

  .year {
    height: 100%;

    display: flex;

    .month {
      flex: 1 1 auto; // should be different

      display: flex;

      justify-content: center;
      align-items: center;

      border-right: solid 1px #999;

      font-size: 0.55em;

      color: rgba(255, 255, 255, 0.25);
    }
  }

  .day-marker {
    position: absolute;

    top: 0;
    height: 100%;
    width: 2px;
  }
}