<div class="week">
  <div class="day sunday"></div>
  <div class="day monday"></div>
  <div class="day tuesday"></div>
  <div class="day wednesday"></div>
  <div class="day thursday"></div>
  <div class="day friday"></div>
  <div class="day saturday"></div>
</div>

<ng-transclude></ng-transclude>
<div class="overlay">
  <settings></settings>

  <div class="time-scale">
    <div class="time-begin">
      <div class="absolute-relative">{{timeBegin | date : 'mediumTime'}}</div>
      <div class="">+{{((timeBegin - startOfDay) % lengthOfDay) / 1000 | number : options.timeDecimals}}</div>
    </div>
    <div class="time-current"
         ng-wheel="wheelCurrent($event)">
      <div class="go-to-now-wrapper" ng-if="lineTimeOffset !== 0">
        <button class="go-to-now"
                ng-click="goToNow()">Go To Now {{now - timeCurrent > 0 ? '+' : ''}}{{(now - timeCurrent) / 1000 | number : options.timeDecimals}}s ({{now | date : 'mediumTime'}})</button>
      </div>
      <div class="metrics">
        <div class="absolute-relative">{{timeCurrent | date : 'mediumTime'}}</div>
        <div class="">+{{((timeCurrent - startOfDay) % lengthOfDay) / 1000 | number : options.timeDecimals}}</div>
        <div class="">+|{{((timeCurrent - startOfDay + utcAdjustment) % lengthOfDay) / 1000 | number : options.timeDecimals}}</div>
      </div>
    </div>
    <div class="time-end">
      <div class="absolute-relative">{{timeEnd | date : 'mediumTime'}}</div>
      <div class="">+{{((timeEnd -startOfDay) % lengthOfDay) / 1000 | number : options.timeDecimals}}</div>
    </div>
  </div>
  <div class="time-day-location">
    <div class="bar" ng-style="timeDayLocationBarStyle"></div>
    <div class="bar" ng-style="timeDayLocationOverflowBarStyle"></div>
  </div>
</div>